{%extends '../layout/base.html'%}
{%block header%}
{%include '../layout/header.html'%}
{%endblock%}
{%block content%}
  <div class="container-fluid px-2 px-md-3 px-lg-1 px-xl-5 py-1 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5" data-aos="fade-down">
                    <div class="row  border-line">
                        {%load static%}
                        <img src="{%static 'images/signup.jpg'%}" class="image img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5" data-aos="fade-up">
                    <div class="row mb-4 px-3 d-flex align-item-center justify-content-center">
                        <div class="text-center mr-3"><h6 class="mb-2 mr-4 mt-2">Sign up with</h6></div>
                        <div class="facebook text-center mx-3"><i class="fab fa-facebook-f"></i></div>
                        <div class="google text-center mr-3"><div class="fab fa-google"></div></div>
                    </div>
                    <div class="row px-3 mb-4">
                        <div class="line"></div>
                        <small class="or text-center">Or</small>
                        <div class="line"></div>
                    </div>
            <form action="/registration/sign-up" method="POST" class="needs-validation" >{% csrf_token %}
                    <div class="row px-3 has-validation">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Name</h6></label>
                        <input class="mb-4" type="text" class="form-control" name="name" placeholder="Enter your full name" required>
                    </div>
                    <div class="row px-3 has-validation">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label>
                        <input class="mb-4" type="emailz" class="form-control" name="email" placeholder="Enter a valid email address" required>
                    </div>
                    <div class="row px-3 has-validation">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>
                        <input type="password" name="password" class="form-control" placeholder="Enter password" required>
                    </div>
                    <div class="row mb-3 px-3 mt-2">
                        <button type="submit" class="btn btn-blue text-center">Sign Up</button>
                        <!-- <button type="submit" class="g-recaptcha btn btn-blue text-center" data-sitekey="6LcbSdEkAAAAADYWlO-19otCnqIA_jilUxilvkl8" data-callback='onSubmit' data-action='submit'>Submit</button> -->
                    </div>
                </form>
                </div>
            </div>
        </div>
        <div class="bg-white py-4">
            <div class="row px-2 mb-0">
                <div class="col-md-6">
                    <small class="ml-4 ml-sm-5"><small style="color:#0e0d0d98;">Copyright &copy;2022 All rights reserved.</small>&nbsp;CourseHub.</small>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <small class="mx-2 w-e ">About</small>
                    <small class="mx-2 w-e">Privacy Policy</small>
                    <small class="mx-2 w-e">Contact us</small>
                </div>
                </span>
            </div>
        </div>
    </div>
</div>
{%endblock%}