{%extends '../layout/base.html'%}
{%block header%}
{%include '../layout/header.html'%}
{%endblock%}
{%block content%}
  <div class="container-fluid px-2 px-md-3 px-lg-1 px-xl-5 py-1 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5" data-aos="fade-down">
                    <div class="row  border-line">
                        {%load static%}
                        <img src="{%static 'images/login.jpg'%}" class="image img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5" data-aos="fade-up">
                    <div class="row mb-4 px-3 d-flex align-item-center justify-content-center">
                        <div class="text-center mr-3"><h6 class="mb-2 mr-4 mt-2">Sign in with</h6></div>
                        <div class="facebook text-center mx-3"><i class="fab fa-facebook-f"></i></div>
                        <div class="google text-center mr-3"><div class="fab fa-google"></div></div>
                    </div>
                    <div class="row px-3 mb-4">
                        <div class="line"></div>
                        <small class="or text-center">Or</small>
                        <div class="line"></div>
                    </div>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label>
                        <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address">
                    </div>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>
                        <input type="password" name="password" placeholder="Enter password">
                    </div>
                    <div class="row px-3 mb-4">
                        <a href="#" class="ml-auto mt-1 mb-0 text-sm t-none">Forgot Password?</a>
                    </div>
                    <div class="row mb-3 px-3">
                        <button type="submit" class="btn btn-blue text-center">Login</button>
                    </div>
                    <div class="row mb-4 px-3">
                        <small class="font-weight-bold">Don't have an account? <a class="w-e text-danger t-none">Register</a></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white py-4">
            <div class="row px-2 mb-0">
                <div class="col-md-6">
                    <small class="ml-4 ml-sm-5"><small style="color:#0e0d0d98;">Copyright &copy;2022 All rights reserved.</small>&nbsp;CourseHub.</small>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <small class="mx-2 w-e ">About</small>
                    <small class="mx-2 w-e">Privacy Policy</small>
                    <small class="mx-2 w-e">Contact us</small>
                </div>
                </span>
            </div>
        </div>
    </div>
</div>
{%endblock%}

<!--                 <span class="fab fa-facebook mx-3 text-lg"></span>
                    <span class="fab fa-google mr-4 text-lg"></span>
                    <span class="fab fa-linkedin mx-3 text-lg"></span>
                    <span class="fab fa-github mr-4 mr-sm-5 text-lg"></span> -->