<section class="hero" data-aos="fade-down-right">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="copy mx-4">
            <div class="text-label">
              Unlock your potential with our resources!
            </div>
            <div class="bold-text">
              Discover endless opportunities to learn and grow with our online courses.
            </div>
            <div class="text-hero-regular">
              Start your learning adventure today and explore new horizons with our comprehensive curriculum.
            </div>
            <div class="cta">
              <a href="#" class="btn my-btn btn-primary bordered">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- {%load static%} -->
          <img src="{%static 'images/illustration-1.png'%}" class="img-fluid" alt="">
        </div>
      </div>
    </div>
</section>